.gameFilters {
  width: 100%;
  display: flex;
  align-items: center;
  background: #333;
  padding: 20px;
  border-radius: 10px;
}

.item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.label {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
