@font-face {
  font-family: 'Inter';
  src: url('./asset/fonts/Inter-UI-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(36, 36, 36);
  color: #fff;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button::-moz-focus-inner {
  border: none;
}

a {
  text-decoration: none;
}

body {
  font:
    14px 'Inter',
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  letter-spacing: 1px;
}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}

* {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
